.product {
    display: block;
    margin: 0 auto;
    clear: both;
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.product-image {
    width: 45%;
    margin: 2%;

    .image-active {
        height: 75%;
        background-color: $lgray;
    }


    .image-small {
        background-color: $lgray;
        height: $xxl-size;
        margin-top: 2%;
        width: 23%;
    }
    
}

.product-desc {
    width: 45%;
    margin: 2%;
    font-size: $m-size;

    .product-title, .product-price {
        font-size: $l-size;
    }

    .product-price, .refvar {
        color: $cyan;
    }

    .product-text, .product-characteristics {
        color: #4b5555;
    }
}

.add-to-cart {
    margin-top: 10%;
    width: 60%;
    height: 10%;
    background-color: $black;
    color: white;

    .button-text {
        font-size: $m-size;
        vertical-align: middle;
    }
}

.select-normal {
    background: transparent;
    width: 40%;
    font-size: $m-size;
    padding: $s-size * 0.5;
    cursor: pointer;
    color: $mgray;

    border: 1px solid rgba($mgray, .5);
    border-radius: 3px;
}